html, head, body{
    font-family: Helvetica, sans-serif;
    background-image:
            linear-gradient(
                    to top right,
                    #073763,
                    lightsteelblue);
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

/*.levelSetMessage{*/
    /*font-weight: bold;*/
    /*color: black;*/
    /*border: solid red;*/
    /*display: inline-block;*/
/*}*/

.row{
    border: 2px solid dimgray;
    background-color: white;
    padding: 0%;
    height: 20%;
    min-width: 100%;
}


h1{
    color: white;
    display: inline-block;
    font-size: 450%;
    padding: 0.3% 3% 0.2% 0.3%;
    margin: 0;
}

h4{
    color: white;
    font-size: 200%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.title {
    color: white;
    font-size: 180%;
    padding-top: 4%;
    display: inline-block;
}

input{
    width: 15%;
    font-size: 110%;
}

button{
    max-width: 55%;
    font-size: 110%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

section button:hover {
    background-color: #ffffff;
    color: #073763;
    border-color: #009ac9;
}


select{
    font-size: 110%;
}

h2{
    margin: 0;
    padding-bottom: 3%;
}

.column1, .column2, .column3{
    column-count: 1;
}

.box{
    margin-right: 1.5%;
}

.productDetail{
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2.5%;
}

.details{
    display: inline-block;
    padding-bottom: 1%;
    padding-right: 0.5%;
    font-style: oblique;
    font-size: 130%;
}

.leftMain {
    color: white;
    width: 15%;
    border-right: 2px solid dimgray;
    background-image:
            linear-gradient(
                    to bottom right,
                    grey,
                    lightgrey);
    display: inline-block;
    float: left;
    height:100%;
    margin: 0;
    padding:0;

}

#HomeLink{
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    display: inline-block;
    float: right;
    padding: 0.5%;
    margin: 0 0 3% 7.3%;
    color: dimgray;
    font-size: medium;
    border: 1px solid dimgray;
}

#seaweed{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 20%;
    max-height: 20%;
    margin: 0 0 1% 1%;
}

/**{*/
/*border: 1px dashed #ff0000;*/
/*}*/

.rightMain{
    margin: 0 0 0 15%;
    border: 1px solid dimgray;
}

#columns{
    color: white;
}

table tr:nth-child(even) {
    background-color: lightgrey;
}

table {
    padding: 0;
    display: inline-block;
    border-collapse: collapse;
    border-top: solid lightgrey;
    margin: 0;

}

th, td { padding: 5px; } /* cellpadding */

table tr td:first-child{
    white-space: nowrap;
}
table tr th:nth-child(2){
    width: 100%;
}
