<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="../static/css/dashboard.css"/>
    <title>Title</title>
</head>

<body>
<div class="leftMain">
    <img id= "seaweed" th:src="@{/images/seaweed.png}"/>
    <label id="HomeLink">Home</label>

</div>
<div class="rightMain">
    <h1>Nori</h1> <h4>Inventory Notification System</h4>
    <div class="row">
        <div class="productDetail">
            <h2 name="title" id="title" value="product name"></h2>
            <span class="column1">
                <label class="details" >Part#: </label>
                <input/> <br/>
                <label class="details">Vendor: </label>
                <input/>
            </span>
            <span class="column2">
                <label class="details">Qty Level: </label>
                <input/> <br/>
                <label class="details">Item Name: </label>
                <input/>
            </span>
            <span class="column3">
                 <button>Search</button>
            </span>
        </div>
    </div>
    <table><tr id="columns">
        <th>Part#</th>
        <th>Item Name</th>
        <th>Vendor</th>
        <th>Qty Level</th>
        <th>Qty Available</th>
        <th>Modify</th>
    </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">Product ID</td><br/>
            <td><a th:text="${product.title}" th:href="@{(${product.id})}" href="product-detail.html">Product Title</a></td><br/>
            <td th:text="${product.vendor}">Vendor</td><br/>
            <td th:text="${qtyLevels.get(product.getId())} ? ${qtyLevels.get(product.getId())} :'NOT SET'">N/A</td><br/>
            <td th:text="${qty.get(product.getId())}">Qty Available</td><br/>
        </tr>
    </table>
</div>
</body>
</html>

