<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="../static/css/dashboard.css"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>

    <title>NoriDash</title>
</head>

<body>
<!--Container should keep everything on page 'together'-->
<div class="container">
    <img id="seaweed" th:src="@{/images/seaweed.png}"/>
    <a id="HomeLink" th:href="@{/dashboard.html}" href="dashboard.html">Dashboard</a>
</div>
<div class="rightMain">
    <h1>Nori</h1> <h4>Inventory Notification System</h4>

    <div class="leftMain">

        <label id="HomeLink">Home</label>

        <div class="productDetail u-full-width">
            <form action="dashboard.html" th:action="@{/search}" method="post">
    <div class="row">
        <div class="productDetail">
            <form action="dashboard.html" th:action="@{/search}" method="post">

                <h2 name="title" id="title" value="product name"></h2>

                <div class="twelve columns">
                    <label for="productID">Product ID:</label>
                    <input name="productID" class="u-full-width details" type="text" placeholder="ProductID" id="productID"/>
                </div>

                <div class="twelve columns">
                    <label for="vendorName">Vendor Name:</label>
                    <input name="vendorName" class="u-full-width details" type="text" placeholder="Vendor Name" id="vendorName"/>
                </div>

                <div class="twelve columns">
                    <label for="itemName">Item Name:</label>
                    <input name="itemName" class="u-full-width details" type="text" placeholder="Item Name" id="itemName"/>
                </div>

                <!--<label class="details">Part#: </label> <input name="productID"/> <br/>-->
                <!--<label class="details">Vendor: </label> <input name="vendorName"/>-->
                <!--<label class="details">Item Name: </label> <input name="itemName"/>-->
                <label class="twelve columns">Alert Level: </label>
                <select class="details u-full-width" id="qty" name="qtyLevel" title="">
                    <option value="">Select Level</option>
                    <option th:value="High">High</option>
                    <option th:value="Low">Low</option>
                    <option th:value="Out">Out</option>
                </select>
                <button>Search</button>
            </form>
        </div>
    </div>


    <div class="rightMain">
        <h1>Nori</h1> <h4>Inventory Notification System</h4>

        <!--<div class="row">-->

    </div>
    <br/><br>
    <table>
        <thead>
        <tr id="columns">
            <th>Part#</th>
            <th>Item Name</th>
            <th>Vendor</th>
            <th>Qty Level</th>
            <th>Qty Available</th>
            <th>Modify</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">Product ID</td>
            <td><a th:text="${product.title}" th:href="@{(${product.id})}" href="product-detail.html">Product Title</a>
            </td>
            <td th:text="${product.vendor}">Vendor</td>
            <td th:text="${qtyLevels.get(product.getId())} ? ${qtyLevels.get(product.getId())} :'NOT SET'">N/A</td>
            <td th:text="${qty.get(product.getId())}">Qty Available</td>
        </tr>
        </tbody>
    </table>

</div> <!--container-->
</body>
</html>

