<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css"/>
    <title>Admin Login</title>
</head>

<body>

<div id="leftSeaweed">
    <img th:src="@{/images/seaweed.png}"/>
</div>

<div id="rightLogin">
    <h1>Nori</h1>
    <h2>Inventory Notification System</h2>

    <form id="userLogin" action="dashboard.html" th:action="@{/userLogin}" th:method="post">
        <br/>
        <!--th:value="${aProduct.getId()}"-->
        <input placeholder="User name" type="email" class="loginField" name="username" required="required" />
        <br/>
        <input placeholder="Password" type="password" class="loginField" name="password" required="required"/>
        <br/>
        <button>Sign In</button><br/><br/>
        <span>Not a user? Sign up <a th:href="@{/createAccount}" href="sign-up.html">here</a></span>

    </form>
</div>
<div id="footerText">
    <span>&copy; Copyright 2016 | Nori | All Rights Reserved | Built by Andy and Kat @ The Iron Yard </span><br/>
</div>
</body>

</html>