<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
    <title>Title</title>
</head>

<body>
<div class="leftMain">
    <img id= "seaweed" th:src="@{/images/seaweed.png}"/>
    <label id="HomeLink">Home</label>

</div>
<div class="rightMain">
    <h1>Nori</h1> <h4>Inventory Notification System</h4>

    <div class="row">
        <div class="productDetail">
            <h2 name="title" id="title" value="product name" th:text="${aProduct.getTitle()}"></h2>
            <label class="details" th:text="${'Part#: '+ aProduct.getId()}"></label> <br/>
            <label class="details" th:text="${'Vendor: '+ aProduct.getVendor()}"></label> <br/>
            <span class="details" th:text="${'Current Qty: '+ productQty}"></span> <br/>
        </div>
        <div class="pic">
            <img class="productImage"
                 th:src="@{${imagePic}}"
                 src="https://cdn.shopify.com/s/files/1/0711/7863/products/Andean-Cross-Platafina-3.gif?v=1455850375"/>
        </div>
    </div>

    <form id="lowerLeft" action="product-detail.html" th:action="@{/storeQty}" method="post">
        <!--text = "" th:text="${highLevel.getQuantity()}"-->
        <label class="title">Set Quantity Rules:</label><br/>
        <label>High:</label>
        <input type="text" id="high" name="high" value="" th:value="*{highLevel}" required="required"/>
        <br/>
        <label>Low:</label>
        <input type="text" id="low" name="low" value="" th:value="*{lowLevel}" required="required"/>
        <br/>
        <label>Out:</label>
        <input type="email" id="out" name="out" value="" th:value="*{outLevel}" required="required"/>
        <input type="hidden" name="id" value="" th:value="${aProduct.getId()}"/>
        <br/>
        <button>Update Qty Rules</button>
    </form>

    <form id="lowerRight" th:action="@{/mail}" method="post">
        <label class="title">Email Alerts When:</label><br/>
        <label>Qty Level: </label>
        <select id="qty" title="">
            <option value="">Select Level</option>
            <option name="high" th:value="High">High</option>
            <option name="low" th:value="Low">Low</option>
            <option name="out" th:value="Out">Out</option>
        </select><br/>
        <label id="shopifyTitleText">Shopify Merchant Email Template:</label><br/>
        <select name="levels" title="">
            <option value="">Select Template</option>
            <option>Platafina</option>
            <!--th:value="High"-->
        </select> <br/>
        <button id="template">Update Merchant Alerts</button>
    </form>
</div>
</body>
</html>